
.site {
    background-color: lightblue;
}

.site-branding {
    display: none;
}

.main-navigation {
    display: none;
}

.post-thumbnail{
    text-align: center;
    animation: animPost 3s;
}

@keyframes animPost {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.wp-block-cgb-block-my-block {
    @extend .small-uppercase;
    animation: animGuten 6s;
    animation-iteration-count: infinite;
}

@keyframes animGuten {
    0% {
        transform: translateX(-300px);
    }
    50% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(-300px);
    }
}