.mainGrid {
    background-color: lightcyan;
    width: 80%;
    margin: 0 auto;
}
.gridEvenement {
    padding: 4% 4%;
    margin: 4% 4%;
    border: 3px solid black;
    background-color: lightcoral;
}

.content-area > h1 {
    text-align: center;
}