$couleur_kaki : rgb(159, 145, 96);
$couleur_violet: rgb(69, 0, 87);
$couleur_blanc : rgb(255, 255, 255);
$couleur_noir : rgb(27, 27, 27);
$couleur_bleufonce : rgb(5, 17, 30);

$couleur_vert :#2ecc71;
$couleur_bleu :#3498db;
$couleur_jaune :#f1c40f;


