.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.wp-block-cgb-block-my-block{
	@extend .small-uppercase;
    background-color: rgb(12, 180, 110);
	color:white;
}

.entry-title {
	text-align: center;
}

.entry-footer {
	display: none;
}

.conteneurGlobal{
	@include label($text: "event", $background: rgb(223, 223, 223), $color: rgba(black, 0.5));
	display: flex;
	flex-direction: row;
	margin-left: 1%;

	div{
		margin-left: 1%;
	}
	img{
		width:150px;
		height:150px;
		min-width: 150px;
		min-height: 150px;
	}
}

.conteneurGlobalImage{
	
	display: flex;
	justify-content: space-around;
	margin-left: 1%;
	h4{
		margin-left: 1%;
	}
	img{
		width:150px;
		height:150px;
		min-width: 150px;
		min-height: 150px;
	}
}

.menu-toggle {
	display: none;
}